{% layout 'layout.liquid' %}
{% block content %}
    <!-- we need to account for two conditions here -->
    <!-- first, if we have wines in our array -->
    <!-- second, if there are no wines in the array -->
    {% if wines.length > 0 %}
        <h2>All Wines</h2>
        <ul>
            <!-- now we can loop over our array of fruits -->
            <!-- and produce some html for every fruit that we have -->
            {% for wine in wines %}
                <li>{{ wine.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No fruits yet... Go create some!</h2>
    {% endif %}
{% endblock %}